@import "color.scss";
@import "common.scss";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  *{
    font-family: 'S-CoreDream-3Light';
    padding: 0;
    margin:0;
    box-sizing: border-box;
 
  }
   .chatLeft{
        width: 30%;
        height: 100vh;
        float: left;
        background-color: $lightGray2;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
   }
   .chatLeft::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}   


.chatButton{
    width: 100%;
    height: 10vh;
    border-radius: 5px;
    // background-color: $lightGray1Alpha6;
    position: relative;
    div{
        position: absolute;
        left: 30%; 
        top: 50px;

    }
    div{
        display: flex;
    }
  }
  a{
    text-decoration: none; // 밑줄 제거
    color: inherit; // 색상 제거
  }
 

  .chatButton:hover{
    background-color: $lightGray1Alpha8;
  }

.chatList{
    margin :30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    // flex-wrap: wrap;
}
.chatDetail{
    height: 13vh;
    // padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: relative;
    span > img{
        width: 100px;
        height: 70px;
        margin: 3%;
        border-radius: 10px;
    }
    .chatButton > span{
        display: absolute;
        // left: -16%; 
        top : 4.5vh;
    }
    p{
        display: flex;
    }
    // p{
    //     // padding-top: 1%;
    //     display: flex;
    // }
    .chatDetailNick{
        padding-left: 4%;
        display: flex;
        width: 250vw;
        height: 10px;
    }
    
}
.chatTime{
    // height: 10vh;
    position: absolute;
    left: 60%;
    top: 2vh;
}

.chatting{
    font-size: 2.5rem;
    text-align: center;
    width: 70%;
    height: 100vh;
    float: right;
    background-color:$bluePurple3Alpha35;
    //vertical-align: middle; // 세로정렬
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatting, .chattingProduct{
    img{
        width: 100px;
      }
}

.chatAlert{
    width: 150px;
    height: 10px;
    border-radius: 50%;
    background-color: #FAef91;
    // position: absolute;
    // top: 2vh;
    // left: 60%;
  
    // margin-left: 45%;
    // margin-top: 30px;

}
.chatRight{

    overflow-y: auto;
    width: 70%;
    float: right;
}
.chatStart{
    color: white; 
    word-break:break-all;
    overflow: hidden;
    
}

.chatNickname{
    height: 40px;
    background-color: $bluePurple3Alpha35 ;
    display: flex;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    height:40px;
    width:70%;
    position:fixed;
    top:0;
    span{
        margin-left: 35px;
        margin-top: 15px;
        font-weight: 500;
        font-size: 1.05rem;
    }
}

.chatState{
    // background-color: $lightGray1Alpha6;
  
}
.chattingProduct{
    border-bottom: 1px solid $darkGray2Alpha3;
    height:90px;
    width:70%;
    position:fixed;
    top:5vh;

    img{
        width: 70px;
        height: 60px;
        // 시계방향 : 위 오 아 왼
        margin: 15px 20px 10px 20px ;
        // margin-left: 35%;
    }
    div{
       button{
        margin: 5px;
        border: 0;
        outline: 0;
        background-color: $purple2Alpha3;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: 530;
        width: 6vw;
        height: 4.5vh;
        left: 40vw;
        top : 2vh;
        position: relative;
       }
        display: flex;
    }
}
.chatProductName{
    position: relative;
    left: 0.5vw;
    top : 2.5vh;

}
.chatPrice{
    position: relative;
    left: -2.7vw;
    top : 6vh;
}
.chatContent{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
    // width:70%;
    height: 500px;
    // display:flex;
    // flex-direction: column;

    // padding-top: 3%;
    // overflow: hidden;
    margin : 140px 0px 0px 0px ;
    padding : 0px 0px 150px 0px ;
}
.chatContent::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}   

.chatSend{
    position:fixed;
    right:50;
    bottom:0;
    z-index:10000;
    width: 64%;
    height: 5vh;
    margin: 20px;
    border-radius: 15px;
    border: 0;
    outline: none;
    background-color: $lightGray1Alpha8;
    padding-left: 2%;
   
}
.sendPrivacy{
    // display: flex;
    // justify-content: center;
    position :fixed;
    // right:40;
    bottom:180px;
}
.chatSell{
    border-top: 1px solid $darkGray2Alpha3;
    display: flex;
    justify-content: center;
    height:145px;
    width:70%;
    position:fixed;
    bottom:20px;
    // position :fixed;
    // bottom:10vh;
  
    button{
        border: 0;
        outline: 0; 
        background-color: $bluePurple3Alpha35;
        border-radius: 5px;
        margin: 10px;
        width: 7vw;
        height: 4vh;
     
    }
    button:active{
        background-color: $yellow1;
    }
}
.chatBottom {
    border-top: 1px solid $darkGray2Alpha3;
    height:100px;
    width:70%;
    position:fixed;
    bottom:0;
    // position: relative;
    // bottom: 50;
    button{
        // width: 10px;
        // height: 10px;
        border: 0;
        outline: 0; 
    }
    img{
        position:fixed;
        width: 43px;
        height: 43px;
        margin: 25px;
        z-index:10000;
        right:0;
        bottom:0;
    }
}
.sendAccount, .sendDelivery{
    display: flex;
    text-align: center;
    justify-content: center;
    // align-items: center;

    select{
        border-radius: 5px;
        text-align: center;
    }
    input{
        width: 10vw;
        height: 3vh;
        border-radius: 5px;
        border: 0;
        outline: none;
        background-color: $lightGray1Alpha8;
        padding-left: 10px;
        margin: 5px;
    }
    button{
        width: 5vw;
        height: 3vh;
        border: 0;
        outline: 0; 
        background-color: $purple2Alpha3;
        border-radius: 5px;
        margin: 5px;
    }
}
.sendFile{
    margin-top: 10px;
    button{
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: $purple2Alpha3;
        padding: 2px 5px 2px 5px;
        border: 0;
        outline: none;
      }
    input[type=file]::file-selector-button{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: $purple2Alpha3;
    padding: 2px 5px 2px 5px;
    border: 0;
    outline: none;
}
}

.chatDate{
    // width: 250px;
    // height: 30px;
    // position: absolute;
    display: flex;
    justify-content: center;
    left: 60%;
    // background-color:$darkGray1;
}

.chatMessage{
    padding : 15px;
    width: 12vw;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-left: 7%;
    margin-top: 4%;
    background-color: $lightGray1Alpha5;
    border: 1px solid $lightPurple4Alpha5 ;

}


.chatMessage-My{
    padding : 15px;
    width: 12vw;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-left: 70%;
    margin-top:  20px;
    background-color: $lightPurple4Alpha5;

}
.chatTalkTime{
    position:relative ;
    left: 17.5vw;
    top: -20px;

}
.chatTalkTime-My{
    position:relative ;
    left: 42vw;
    top: 80px;
}

.chatContainer{
    display: flex;
}

.memberinfomain{
    padding-top:130px;
}



@media screen and (min-width: 1024px) and (max-width: 1500px) {
    // .chatContainer{
    //     flex-direction: column;
    // }
    .chatList{
        font-size: 1.3rem;
    }
    .chatLeft{
        width: 30%;
        height: 100vh;
   }
   .chatDetail{
    margin:2%;
    height: 12vh;
    padding: 1%;
    font-size: 1rem;
    img{
    
        img{
            width: 4vw;
            height: 8vh;
            margin: 25px 20px 10px 20px ;
            // margin-left: 35%;
        }
    }
    p{
        // display: flex;
    }
}
    .chatButton{
        width: 100%;
        height: 10vh;
        border-radius: 5px;
        .chatDetailNick{
            padding-top: 3%;
        }
    }
    .chattingProduct{
        div{
           button{
            width: 7vw;
            height: 4.7vh;
            left: 32vw;
            top : 3vh;
            position: relative;
           }
            }
    }
    .chatSend{
        width: 63%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
   .chatDetail{
    margin:2%;
    height: 10vh;
    padding: 1%;
    font-size: 0.8rem;
    }
    .chatAlert{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $yellow3;
        margin-top: 30px;
    
    }
    .chatContent{
        .chatDate{
                margin-top: 21vh;
            }
    }
    .chattingProduct{
        div{
           button{
            border-radius: 5px;
            font-size: 0.9rem;
            font-weight: 530;
            width: 7.8vw;
            height: 4.5vh;
            left: 27vw;
            top : 3vh;
            position: relative;
           }
        }
    }
    .chatSend{
        width: 61%;
    }


    .chatSell{
        height:15vh;
        width:70%;
        position:fixed;
        bottom:20px;
        // position :fixed;
        // bottom:10vh;
      
        button{
            margin: 10px;
            width: 9.5vw;
            height: 4.5vh;
         
        }
    }
    .chattingProduct{
        img{
            width: 70px;
            height: 60px;

        }
    }

}
// @media screen and (max-width:767px) {

// }


   