@import "color.scss";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  *{
    font-family: 'S-CoreDream-3Light';
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }
   .chatLeft{
        width: 30%;
        height: 100vh;
        float: left;
        background-color: $lightGray2;
   }

.chatButton{
    width: 100%;
    height: 8vh;
    border-radius: 5px;
    // background-color: $lightGray1Alpha6;
    div{
        position: relative;
        left: -78px; 
        top : 4.5vh;
    }
  }
  a{
    text-decoration: none; // 밑줄 제거
    color: inherit; // 색상 제거
  }
 

  .chatButton:hover{
    background-color: $lightGray1Alpha8;
  }

.chatList{
    margin :30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.chatDetail{
    height: 7.5vh;
    padding-top: 3%;
    img{
        width: 3.5vw;
        height: 5vh;
        margin: 15px;
    }
    p{
        display: flex;
    }
}
.chatTime{
    height: 2vh;
    position: relative;
    left: 50%;
    top: 2vh;
}

.chatting{
    font-size: 2.5rem;
    text-align: center;
    width: 70%;
    height: 100vh;
    float: right;
    background-color:$bluePurple3Alpha35;
    //vertical-align: middle; // 세로정렬
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatting, .chattingProduct{
    img{
        width: 300px;
      }
}

.chatAlert{
    width: 1vw;
    height: 1.5vh;
    border-radius: 50%;
    background-color: #FAef91;
    margin-left: 45%;
    margin-top: 30px;

}
.chatRight{
    width: 70%;
    float: right;
}
.chatStart{
    color: white; 
    word-break:break-all;
    overflow: hidden;
    
}

.chatNickname{
    height: 40px;
    background-color: $bluePurple3Alpha35 ;
    display: flex;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    span{
        margin-left: 35px;
        margin-top: 15px;
        font-weight: 500;
        font-size: 1.05rem;
    }
}

.chatState{
    // background-color: $lightGray1Alpha6;
  
}
.chattingProduct{
    border-bottom: 1px solid $darkGray1;
    img{
        width: 55px;
        height: 55px;
        margin: 20px;
        margin-left: 30px;
    }
    div{
       button{
        margin: 5px;
        border: 0;
        outline: 0;
        background-color: $purple2;
        border-radius: 10%;
        font-size: 0.9rem;
        font-weight: 530;
        width: 4vw;
        height: 3vh;
        left: 45vw;
        top : 2vh;
        position: relative;
       }
        display: flex;
    }
}
.chatProductName{
    position: relative;
    left: 0.5vw;
    top : 2.5vh;
}
.chatPrice{
    position: relative;
    left: -2.7vw;
    top : 5vh;
}
.chatContent{
     height: 71vh;
}
.chatSend{
    position:fixed;
    right:50;
    bottom:0;
    z-index:10000;
    width: 65%;
    height: 38px;
    margin: 20px;
    border-radius: 15px;
    border: 0;
    outline: none;
    background-color: $lightGray1Alpha8;
    padding-left: 20px;
   
}
.sendPrivacy{
    position :fixed;
    // right:40;
    bottom:16vh;

}
.chatSell{
    border-top: 1px solid $darkGray1;
    display: flex;
    justify-content: center;
  
    button{
        border: 0;
        outline: 0; 
        background-color: $bluePurple3Alpha35;
        border-radius: 5px;
        margin: 10px;
        width: 6.5vw;
        height: 3vh;
     
    }
    button:active{
        background-color: $yellow1;
    }
   

}
.chatBottom {
    border-top: 1px solid $darkGray1;
    // position: relative;
    // bottom: 50;
    button{
        // width: 10px;
        // height: 10px;
        border: 0;
        outline: 0; 
    }
    img{
        position:fixed;
        width: 35px;
        height: 35px;
        margin: 20px;
        z-index:10000;
        right:0;
        bottom:0;
    }
}
.sendAccount, .sendDelivery{
    display: flex;
    justify-content: center;
    input{
        width: 10vw;
        height: 3vh;
        border-radius: 5px;
        border: 0;
        outline: none;
        background-color: $lightGray1Alpha8;
        padding-left: 10px;
        margin: 5px;
    }
    button{
        width: 5vw;
        height: 3vh;
        border: 0;
        outline: 0; 
        background-color: $purple2;
        border-radius: 5px;
        margin: 5px;
    }
}
.sendFile{
    margin-top: 10px;
    button{
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: $purple2;
        padding: 2px 5px 2px 5px;
        border: 0;
        outline: none;
      }
    input[type=file]::file-selector-button{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: $purple2;
    padding: 2px 5px 2px 5px;
    border: 0;
    outline: none;
}
}

.chatDate{
    // width: 250px;
    // height: 30px;
    // position: absolute;
    display: flex;
    justify-content: center;
    left: 60%;
    margin-top: 2vh;
    // background-color:$darkGray1;
}

.chatMessage{
    width: 12vw;
    height: 5.5vh;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-left: 180px;
    margin-top: 2.7%;
    background-color: $lightGray1Alpha5;
    border: 1px solid $lightPurple4 ;
}


.chatMessage-My{
    width: 10vw;
    height: 5.5vh;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-left: 75%;
    margin-top:  2.7%;
    background-color: $lightPurple4;
}
.chatTalkTime{
    position:relative ;
    left: 22vw;
    top: -2vh;

}
.chatTalkTime-My{
    position:relative ;
    left: 49vw;
    top: 8vh;
}

.memberinfomain{
    padding-top:130px;
}



