// 색상표
$lightGray1 : #E9ECF2;
$lightGray2 : #F6F7FA;
$lightGray1Alpha4: rgba(233, 236, 242, .4);
$lightGray1Alpha5: rgba(232, 235, 242, 0.5);
$lightGray1Alpha6: rgba(233, 236, 242, .6);
$lightGray1Alpha8: rgba(233, 236, 242, .8);

$darkGray1 : #434573;
$darkGray2 : #585473;

$black1 : #030526;
$black2 : #01020D;

$lightPurple1 : #A3A5D9;
$lightPurple2 : #D5D7F2;
$lightPurple3 : #BDBCFA;
$lightPurple4 : #A9ABD9;
$lightPurple4Alpha5 : rgba(169, 171, 217, 0.5);

$purple1 : #8679d9;
$purple1Alpha4 : rgba(134, 121, 217, .4);
$purple2 : #A37EF2;
$purple2Alpha6 : rgba(163, 126, 242, .6);

$bluePurple1 : #828FD9;
$bluePurple1Alpha6 : rgba(130, 143, 217, .4);
$bluePurple1Alpha8 : rgba(130, 143, 217, .8);
$bluePurple2 : #3F59A6;
$bluePurple3 : #626AD9;
$bluePurple3Alpha35 : rgba(98, 106, 217, 0.35);
$bluePurple4 : hsla(236, 61%, 62%, 0.45);

$yellow1 : #F7E5B0;
$yellow2 : #F2DFA7;
$yellow3 : #FAEF91;
$yellow3Alpha4 : rgba(250, 239, 145, .4);
