@import "color.scss";

.findPwdWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 200px;
}
.findPwd {
    width: 400px;
    height: 600px;
    margin: 20px;
    h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
    }
}
.findPwdMain {
    padding-top: 20px;
    // border-top: 4px solid #222;
}
.findPwdSmallBox {
    margin-top: 8px;
    margin-bottom: 8px;
}
.findPwdName, .findPwdEmail {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 14px;
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    outline: none;
}
.findPwdErrMsg {
    text-align: right;
    font-size: 12px;
    color: rgb(156, 156, 156);
    margin-bottom: 10px;
}
.findPwdCodeButton {
    width: 100%;
    height: 56px;
    background-color: rgb(184, 184, 184);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
}
.findPwdCodeInput {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 14px;
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    outline: none;
}
.pwdSearchButton {
    width: 100%;
    height: 56px;
    margin: 20px 0;
    background-color: rgb(184, 184, 184);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}