@import "color.scss";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

* {
    box-sizing: border-box;
}

.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 200px;
    
}
.login {
    width: 400px;
    height: 600px;
    margin: 20px;

    h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
    }
}
.loginMain {
    padding-top: 20px;
    // border-top: 4px solid #222;
}
.loginSmallBox {
    margin-top: 8px;
    margin-bottom: 8px;
}
.loginInput, .pwdInput {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 14px;
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    outline: none;
}
.loginErrMsg {
    text-align: right;
    font-size: 12px;
    color: rgb(156, 156, 156);
    margin-bottom: 10px;
}
.IdPwdSearchButtonBox {
    text-align: right;
}
.IdPwdSearchButton {
    font-size: 12px;
    color: #5d5d5d;
    padding: 4px 4px;
    display: inline-block;
}
.loginButton {
    width: 100%;
    height: 56px;
    margin: 20px 0 0;
    // background-color: #222;
    background-color: #8679D9;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.RegButton {
    width: 100%;
    height: 56px;
    margin: 20px 0 0;
    background-color: white;
    color: #8679D9;
    font-size: 16px;
    border: 1px solid #8679D9;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.kakaoLogin {
    width: 100%;
    height: 56px;
    margin: 50px 0 0;
    background-color: rgb(241, 205, 0);
    color: #222;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.footer {
    margin: 10px auto;
    padding-bottom: 5px;
    text-align: center;
}